@import 'tailwindcss';

@theme {
  --font-headline: 'BBH Sans Bartle', sans-serif;
  --font-sans: 'IBM Plex Sans', sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;
}

html,
body {
  font-family: var(--font-sans);
  background-color: var(--color-black);
  color: var(--color-white);
  scroll-behavior: smooth;
  @apply antialiased;
}
